{% extends "base.html" %}
 {% block title %}Homepage{% endblock %}
 {% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}
{% block body %}
    <main>
    <div class="promo main-view-appear">
    <h1>
      The only way to get your money into shape<br />
     <span>Manage your budget <span class="flowlessly">flowlessly</span> </span> 
    </h1>
    <div class="pic1-container">
      <img
      src="{{ url_for('static', filename='images/pic1-money.png') }}"
      alt="pic-1"
    />
    </div>
    </div>
    <div class="features scroll-appear">
      <div class="card">
        <div class="card-title">Set your goals</div>
        <div class="card-body">Specify an amount for the month with no way back!</div>
      </div>
      <div class="card">
        <div class="card-title">Track your expenses</div>
        <div class="card-body">Explore different visual options to track where ,when and how your money is being manged</div>
      </div>
      <div class="card">
        <div class="card-title">Get customized advices</div>
        <div class="card-body">Get AI assisted advices and insights customized to your user experience</div>
      </div>
    </div>
    <div class="steps scroll-appear">
      <div class="half-circles"></div>
      <div class="half-circles"></div>
      <h2>How to get Started ?</h2>
      <p><span class="numbers">1 </span>Allocate a reasonable budget</p>
      <p><span class="numbers">2 </span>Connect your bank account </p>
      <p><span class="numbers">3 </span>Visualize your expenditure through graphs and drawings</p>
      <p><span class="numbers">4 </span>Get feedback and advice on how improve the way you spend</p>
    </div>
    </main>
    {% block script %}

    {% endblock %}
    
{% endblock %}