html{
  height:100%;
}
:root{
    --primary-green: rgb(134, 188, 134);
    --main-page-color: rgb(254, 249, 249);    
}

body{
    font-family: "ADLaM Display", serif;
    box-sizing: border-box;
    background-color: var(--main-page-color);
    margin:0 1rem;
    min-height: 100vh;
}
header{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    margin-bottom:5rem;
}
.logo-container {
    width: 15.25rem;           /* Set container width */
    height: 9.5rem;          /* Set container height */
    padding: 0; 
    flex-shrink:0;
}
@media( max-width:790px){
  .logo-container{
  width: 10rem;           /* Set container width */
  height: 6rem; }
}
.logo-container img {
    width: 100%;        /* Ensure the image fits within the container width */
    height: 100%;       /* Ensure the image fits within the container height */
    object-fit: contain;    /* Maintain aspect ratio and fit inside the container */
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
  }
  
  nav ul {
    font-size: 1.5rem;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  @media (max-width: 1024px) {
    nav ul {
      font-size: 1rem;
    }
  }
  
  nav li {
    margin-right: 1.5rem;
    position:relative;
    padding:  0.65rem;
    cursor: pointer;
  }

  nav li::before{
    content: "";
    position:absolute;
    opacity: 0;
    top: 100%; /* Below the item */
    left: 0;
    width:100%;
    height: 5%;
    filter: blur(2px);
    transition: opacity 0.3s ease, transform 0.3s ease,background-image 0.3s ease; /* Smooth appearance */
    transform: scaleX(0); /* Start with no width */
    background-color: var(--primary-green);
  }
  nav li:hover {
    color: var(--primary-green); /* Change text color to match glow */
    background-image:linear-gradient(to bottom, transparent, rgb(144 237 44 / 23%));
}
  nav li:hover::before{
    transform: scaleX(1);
    opacity: 1;
  }
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  nav button {
    font-size: 1rem;
    padding: 10px  0.65rem;
    font-family: "ADLaM Display", serif;
    font-weight:bold;
    border-color: var(--primary-green);
    border-radius:  0.65rem;
    border-width: 5px;
    background-color: var(--primary-green);
    color: var(--main-page-color);
    cursor: pointer;
}
nav button:hover{
  color: var(--primary-green);
  background-color: var(--main-page-color);
  
}

footer{
    position: relative;
    bottom: 0;
    display: flex;
    border-radius:50% 0 0 0; 
    justify-content: center;
    align-items: center;
    height: 5rem;
    background: var(--primary-green);
    color: white;
    font-size: 1rem;
    margin-top: 3rem;
}
.button{
  font-size: 1rem;
  padding: 10px  0.65rem;
  font-family: "ADLaM Display", serif;
  font-weight:bold;
  border-color: var(--primary-green);
  border-radius:  0.65rem;
  border-width: 5px;
  background-color: var(--primary-green);
  color: var(--main-page-color);
  cursor: pointer;
}
footer ul{
    font-size:1.75rem;
    display: flex;
    gap: 1.5rem;
    list-style: none;
}
footer li{
   
    cursor: pointer;
}
footer a {
  text-decoration: none;
  color: #333; 
  font-weight: bold;
}
footer a:hover{
    color: white;
}
@keyframes float {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(0);
  }}
  @keyframes appear {
    0% {
      opacity: 0;
      scale:0
    }
    100% {
      scale:1;
      opacity: 1;
    }
  }
  @keyframes main-appear {
    0%{
      opacity: 0;
      transform: translateY(1rem);
    }
    100%{
      opacity: 1;
      transform: translateY(0rem);
    }}
.scroll-appear{
    animation:appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
.main-view-appear{
  animation-delay: 3s;
    animation:main-appear  linear 0.75s alternate;
}
.error {
  background-color: #f8d7da;
  color: #721c24;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  display: flex;
  justify-content: space-between
}

.success {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.close {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  
}
.LinkingFlashMessage{
  position: fixed;
  top: 0;
  width: 90%;
  z-index: 9999;
  text-align: start;
  margin: auto;
}
.visible{
  display: block;
}
.invisible{
  display: none;
}
